<ngx-spinner 
 bdColor = "rgba(0, 0, 0, 0.8)"
 size = "large" 
 color = "#fff">
  <p style="font-style: 20px; color: white">
    <svg width="92" height="92" viewBox="0 0 92 92" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="46" cy="46" r="46" fill="white"/>
      <path d="M43.9 79.6L64.312 38.734H50.2V12.4L29.2 53.266H43.9V79.6ZM46 4C57.55 4 67.42 8.2 75.61 16.39C83.8 24.58 88 34.45 88 46C88 57.55 83.8 67.42 75.61 75.61C67.42 83.8 57.55 88 46 88C34.45 88 24.58 83.8 16.39 75.61C8.2 67.42 4 57.55 4 46C4 34.45 8.2 24.58 16.39 16.39C24.58 8.2 34.45 4 46 4Z" fill="#BD00FF"/>
      </svg>      
      <div class="wrapper">
        <div class="loading-text"> <!--Loading-text-->
          <h1>Loading
            <span class="dot-one"> .</span>
            <span class="dot-two"> .</span>
            <span class="dot-three"> .</span>
            <span class="dot-four"> .</span>
          </h1>
        </div> 
      </div> 
      
  </ngx-spinner>

<div class="row mt-5 d-flex justify-content-center">
  <div class="col-4">
    <button class="btn btn-primary" role="button "(click)="openSpinner()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span class="text">Open Spinner</span>
    </button>
  </div>
</div>

